.float-right{float: right;}

.text-center{text-align: center;
border: solid;}

body {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUlQ3-eEcvwmslzpvMnlcEkS-OyRhAd08GMQ&usqp=CAU); mask-repeat: no-repeat;}

#text-color{color: white; font-size: 20px;}

.box{border: solid; background-color: black;}

nav{color: white;}
